@page
@model ShowcaseModel
@{
    ViewData["Title"] = "Showcase";
}
<h1>@ViewData["Title"]</h1>

<hr>

<p>Update Number: 13</p>

<hr>

<form method="post">
    <fieldset>
        <legend>Remote sound maker</legend>
        <!--<div>
            <label for="SoundName">Sound Name</label>
            <input type="text" name="SoundName" value="Ping">
        </div>-->
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Make a sound!" class="submit" />
        </div>
    </fieldset>
</form>

<hr>

<div>
    <div>
        <h2>
            Connection status
        </h2>
    </div>
    <div>
        @if ( @Model.p_isConnected )
        {
            <h3 style="color:#009933;">
                Connected
            </h3>
        }
        else
        {
            <h3 style="color:#800000;">
                Disconnected
            </h3>
        }
        
    </div>
</div>